
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-shadow: rgba(173, 173, 173, 0.767) 1px 1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(166, 190, 182);
    height: 100vh;
}


.encabezadoPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(143, 197, 192);
    box-shadow: rgba(0, 29, 73, 0.753) 2px 2px;
}

.encabezadoPrincipal div {
    margin: 15px;
}

.menu {
    margin-right: 15px;
}

.menu a {
    margin: 5px 10px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.logo {
    text-transform: uppercase;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes {
    margin-top: 460px;
    margin-bottom: 20px;
}

.redes a {
    padding: 0 100px;
    color: black;
    font-size: 16pt;
}