
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-shadow: rgba(173, 173, 173, 0.767) 1px 1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(166, 190, 182);
    height: 100vh;
}


.encabezadoPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(143, 197, 192);
    box-shadow: rgba(0, 29, 73, 0.753) 2px 2px;
}

.encabezadoPrincipal div {
    margin: 15px;
}

.menu {
    margin-right: 10px;
}

.menu a {
    margin: 5px 10px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.logo {
    text-transform: uppercase;
}

.container {
    margin-bottom: 100px;
}

.portadas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.portadaLibro {
    width: 150px;
    height: auto;
}

.keypad {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.keypad button {
    margin: 0 15px 0 15px;
    font-weight: bold;
    color: white;
    background-color: rgb(20, 20, 56);
}

.buttonAdd {
    width: 30px;
    height: 30px;
    text-align: center;
}

.buttonAddState {
    font-size: 17pt;
    font-weight: bold;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes {
    margin-top: 90px;
    margin-bottom: 20px;
}

.redes a {
    padding: 0 100px;
    color: black;
    font-size: 16pt;
}